WAG_Login/WAG_Login/WAG_Login/Service References/ImageServiceAgent/ImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImages">
        <s:complexType />
      </s:element>
      <s:element name="GetImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImagesResult" type="tns:ArrayOfImageJQ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImageJQ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImageJQ" nillable="true" type="tns:ImageJQ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ImageJQ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetImagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="GetImagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:portType name="ImageServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input message="tns:GetImagesSoapIn" />
      <wsdl:output message="tns:GetImagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageServiceSoap" type="tns:ImageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceSoap12" type="tns:ImageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap12:operation soapAction="http://tempuri.org/GetImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageServiceSoap" binding="tns:ImageServiceSoap">
      <soap:address location="http://localhost:50225/Services/ImageService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceSoap12" binding="tns:ImageServiceSoap12">
      <soap12:address location="http://localhost:50225/Services/ImageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>