WAG_Login/WAG_Login/WAG_Login/Service References/PageAgent/PageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Obj" type="tns:Save" />
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pageName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Save">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="scripts" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="styles" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="page" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SavePageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SavePageSoapIn">
    <wsdl:part name="parameters" element="tns:SavePage" />
  </wsdl:message>
  <wsdl:message name="SavePageSoapOut">
    <wsdl:part name="parameters" element="tns:SavePageResponse" />
  </wsdl:message>
  <wsdl:portType name="PageServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePage">
      <wsdl:input message="tns:SavePageSoapIn" />
      <wsdl:output message="tns:SavePageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PageServiceSoap" type="tns:PageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePage">
      <soap:operation soapAction="http://tempuri.org/SavePage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PageServiceSoap12" type="tns:PageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePage">
      <soap12:operation soapAction="http://tempuri.org/SavePage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PageService">
    <wsdl:port name="PageServiceSoap" binding="tns:PageServiceSoap">
      <soap:address location="http://localhost:50225/Services/PageService.asmx" />
    </wsdl:port>
    <wsdl:port name="PageServiceSoap12" binding="tns:PageServiceSoap12">
      <soap12:address location="http://localhost:50225/Services/PageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>